@font-face {
	font-family:'DINPro-Light';
	src: url('../fonts/DINPro-Light_gdi.eot');
	src: url('../fonts/DINPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Light_gdi.woff') format('woff'),
		url('../fonts/DINPro-Light_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Light_gdi.svg#DINPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'DINPro-Regular';
	src: url('../fonts/DINPro-Regular_gdi.eot');
	src: url('../fonts/DINPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Regular_gdi.woff') format('woff'),
		url('../fonts/DINPro-Regular_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Regular_gdi.svg#DINPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'DINPro-Medium';
	src: url('../fonts/DINPro-Medium_gdi.eot');
	src: url('../fonts/DINPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Medium_gdi.woff') format('woff'),
		url('../fonts/DINPro-Medium_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Medium_gdi.svg#DINPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'DINPro-Bold';
	src: url('../fonts/DINPro-Bold_gdi.eot');
	src: url('../fonts/DINPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Bold_gdi.woff') format('woff'),
		url('../fonts/DINPro-Bold_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Bold_gdi.svg#DINPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'DINPro-Black';
	src: url('../fonts/DINPro-Black_gdi.eot');
	src: url('../fonts/DINPro-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Black_gdi.woff') format('woff'),
		url('../fonts/DINPro-Black_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Black_gdi.svg#DINPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}