@font-face {
    font-family: 'volkswagen';
    src: url('../fonts/volkshead-webfont.eot');
    src: url('../fonts/volkshead-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volkshead-webfont.woff2') format('woff2'),
         url('../fonts/volkshead-webfont.woff') format('woff'),
         url('../fonts/volkshead-webfont.ttf') format('truetype'),
         url('../fonts/volkshead-webfont.svg#volkswagen_headlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'volkswagen';
    src: url('../fonts/volkswagen-bold-webfont.eot');
    src: url('../fonts/volkswagen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volkswagen-bold-webfont.woff2') format('woff2'),
         url('../fonts/volkswagen-bold-webfont.woff') format('woff'),
         url('../fonts/volkswagen-bold-webfont.ttf') format('truetype'),
         url('../fonts/volkswagen-bold-webfont.svg#volkswagen-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'volkswagen_ot';
    src: url('../fonts/vwheadlineot-book-webfont.eot');
    src: url('../fonts/vwheadlineot-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwheadlineot-book-webfont.woff2') format('woff2'),
         url('../fonts/vwheadlineot-book-webfont.woff') format('woff'),
         url('../fonts/vwheadlineot-book-webfont.ttf') format('truetype'),
         url('../fonts/vwheadlineot-book-webfont.svg#vw_headline_otbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'volkswagen_ot';
    src: url('../fonts/vwheadlineot-semibold-webfont.eot');
    src: url('../fonts/vwheadlineot-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwheadlineot-semibold-webfont.woff2') format('woff2'),
         url('../fonts/vwheadlineot-semibold-webfont.woff') format('woff'),
         url('../fonts/vwheadlineot-semibold-webfont.ttf') format('truetype'),
         url('../fonts/vwheadlineot-semibold-webfont.svg#vw_headline_otsemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'volkswagen_ot';
    src: url('../fonts/vwheadlineot-black-webfont.eot');
    src: url('../fonts/vwheadlineot-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwheadlineot-black-webfont.woff2') format('woff2'),
         url('../fonts/vwheadlineot-black-webfont.woff') format('woff'),
         url('../fonts/vwheadlineot-black-webfont.ttf') format('truetype'),
         url('../fonts/vwheadlineot-black-webfont.svg#vw_headline_otblack') format('svg');
    font-weight: bold;
    font-style: normal;

}