@import url(http://fonts.googleapis.com/css?family=Roboto: 300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
* {
    font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    outline: none;
    color: #000;
}

a:hover,
a:focus {
    color: #314c7c;
}

.form-group .row div {
    padding: 0 15px !important;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb>li+li:before {
    content: " > ";
    color: #333333;
}

.mg-tp-10 {
    margin-top: 10px;
}

.used-car-list {
    height: 350px;
}

.used-car-list h2 {
    font-size: 12px;
    color: #070707;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    /*margin: 20px 17% 5px 17% !important;*/
    margin: 10px 1% !important;
    min-height: 40px;
    max-height: 40px;
    text-align: center;
}

.used-car-list h3 {
    font-size: 22px;
    color: #666666;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.used-car-list .semi-button {
    display: block;
    width: 125px;
    margin: auto;
    border: 2px solid #374b01;
    text-align: center;
    padding: 10px 5px;
    font-size: 11px;
    border-radius: 30px;
    color: #374b01;
    font-weight: bold;
}

.left-block{
    padding-left: 0px;
}

.right-block{
    padding-right: 0px;
}

.text-semi {
    margin: 30px 0;
}

h1 {
    font-size: 32px;
    color: #000000;
    font-weight: 700;
}

h1.title {
    font-weight: normal;
    color: #787878;
}

.breadcrumb li a {
    color: #333333;
    font-style: italic;
}

section.no-banner {
    margin-top: 30px;
}

section.internas {
    padding: 30px 0;
    background-color: #FFF;
    z-index: -1;
}

.wrapper-white {
    padding: 30px 0;
    background-color: #FFF;
}

.wrapper-gray {
    background-color: #333333;
    color: #FFFFFF;
}

.wrapper-gray a {
    color: #ffffff !important;
}

.wrapper-black {
    background-color: #000000;
    padding: 110px 0;
}

.wrapper-black .col-lg-3 h2 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.wrapper-black hr {
    border-color: #374b01;
    width: 50px;
    margin: 2px auto;
}

.nav-tabs {
    border-bottom: none;
}

.input-file-trabalhe-conosco{
    display: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: transparent;
    margin-bottom: 0px !important;
    border-bottom: none !important;
    border: transparent;
}

#div-input-file {
    /*    background:url("../images/file1.gif") no-repeat 100% 1px;*/
    background: url(../images/upload140.png) no-repeat 100% -1px;
    height: 30px;
    /*    width:385px;*/
    margin: 0px;
    z-index: 99;
    margin-bottom: 5px;
}
#div-input-file #file-original {
    opacity: 0.0;
    /*    -webkit-opacity: 0.0;*/
    -moz-opacity: 0.0;
    filter: alpha(opacity=00);
    font-size: 18px;
    width: 100%;
    cursor: pointer
}
#div-input-falso {
    margin-top: -28px;
    -moz-margin-top: -32px;
}
@-moz-document url-prefix() {
    #div-input-falso {
        margin-top: -32px;
    }
}
#div-input-falso #file-falso {
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857;
    color: #444;
/*    background-color: #eee;*/
/*    background: #eee url(../images/upload140.png) no-repeat right 10px top 5px;*/
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

div.upload input{
/* display: block !important; */
width: 100%;
height: 57px !important;
opacity: 0 !important;
overflow: hidden;
/* background: #eee; */
cursor: pointer;
}

div.upload {
width: 100%;
/*background: #fffurl("../images/flexa-vt.png") no-repeat scroll right 13px center !important;*/
overflow: hidden;
}

.tab-desc-carros img {
    width: 100%;
}

.tab-desc-carros h2 {
    font-size: 45px;
    text-align: left;
}

.tab-desc-carros p {
    color: #787878;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.slick-prev:before,
.slick-next:before {
    color: #3e3e3e !important
}


/*-- ------------ HEADER - START ----------- */

.navbar-toggle {
    border: 1px solid #CCC;
}

.navbar-toggle .icon-bar {
    background-color: #CCC;
}

.nav>li>a:hover {
    background-color: white !important;
    border: none;
}

header {
    background-color: #333333;
    color: white;
    height: 80px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.container-fluid .row * {
    padding: 0;
}

.banner-top {
    margin-bottom: 30px;
}

.banner-top .row div img {
    width: 100%;
}

.phone {
    padding: 10px 17px;
}

.phone p {
    text-align: right
}

.phone p a {
    color: #e3c78f;
    font-size: 1.2em;
}

header .logo {
    padding: 39px;
}

.menu {
    padding: 0;
}

.cotacao-form {
    background-color: #374b01;
    right: 0;
    color: #FFF;
}

.form-internas {
    background-color: #374b01;
    color: #FFF;
    padding: 33px 20px;
    z-index: 2;
}

.form-internas input[type="submit"] {
    margin-top: 50px !important;
}

.cotacao-form img {
    float: left
}

p.small.text-center {
    margin-bottom: 0;
}

a.phone-cotacao {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    display: block;
    text-align: center;
}

.cotacao-form form input,
.form-internas form input {
    height: 33px;
}

.cotacao-form form input,
.cotacao-form form textarea,
.cotacao-form form select {
    margin-bottom: 20px;
}

.form-internas input,
.form-internas textarea,
.form-internas select {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
}

.form-internas select {
    padding: 6px 8px;
}

.form-internas.fale textarea {
    height: 150px
}

.cotacao-form form select option,
.cotacao-form form select,
.form-internas form select,
.form-internas select option {
    color: #AAA
}

.cotacao-form form input,
.cotacao-form form textarea,
.form-internas form input,
..form-internas form textarea {
    margin-bottom: 24px;
}

.cotacao-form form input[type=submit],
.form-internas form input[type=submit] {
    margin: auto;
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
    /* font-weight: bold; */
    text-transform: uppercase;
    border: none;
    border-radius: 45px;
    display: block;
    padding: 14px 33px 38px 33px;
    font-size: 18px;
    margin-bottom: 0 !important;
}

.cotacao-form form input[name=Nome] {
    clear: both;
}

.cotacao-form form input[placeholder='Estado'] {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.cotacao-form form textarea {
    height: 78px;
}

.cotacao-form form input[placeholder='Cidade'] {
    width: 65%;
    float: left;
    margin-right: 3%;
}

.cotacao-form form select[name='state'] {
    width: 32%;
    float: left;
}

.form-button {
    padding: 6px 9px;
    border-radius: 4px !important;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    color: #374b01;
    border: 2px solid #FFF;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.form-button.active,
.form-button:hover {
    background-color: #374b01;
    border-radius: 4px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}


/*-------------- HEADER - END ------------- */


/*-------------- HOME - START ------------- */

.slider-full {
    height: 542px;
    width: 100%;
    margin-bottom: 21px;
}

.img-full {
    width: 100%;
}

.cars-home li{
    min-height:  160px;
    float: left;
    display: block;
}
.cars-home li a {
    background: none;
    padding: 0px;
    border: none;
}

.cars-home li a span {
    display: block;
    text-align: center;
    margin: 25px 0 10px 0;
    color: #5b5b5b;
    font-size: 13px;
}

.cars-home li:hover a span,
.cars-home li.active a span {
    color: #ffc700;
}

.cars-home li a.active {
    border: none;
    padding-bottom: 0;
    background-color: transparent
}

.cars-home li.active a:after {
    content: "";
    background: url(../images/drop-down.png);
    width: 12px;
    height: 5px;
    display: block;
    margin: auto;
    margin-bottom: 0;
}

.cars-home>li>a>img {
    width: 180px;
}

.box h2 {
    text-transform: uppercase
}

.box h3 {
    font-size: 12px;
    font-weight: bold;
}

.pecas {
    background: url(images/pecas.png) no-repeat;
    color: white;
}

.pecas div {
    margin-top: 115px;
    font-size: 13px;
}

.read-more {
    background-color: #089a3f !important;
    border-radius: 7px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-top: 65px;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0px 4px 0px #5f4c2d;
    position: relative
}

.read-more:hover {
    background-color: #089a3f !important;
    color: white;
    box-shadow: 0px 1px 0px #5f4c2d;
    top: 3px;
}

.assistencia {
    background: url(images/assistencia.png) no-repeat;
}

.assistencia h3 {
    width: 126px;
}

.assistencia p {
    width: 109px;
}

.news-loop {
    min-height: 190px;
}

.news-excerpt {
    padding: 4px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
}

.noticias div:nth-child(5) {
    border-bottom: none !important;
}

.news-excerpt .date-exc {
    color: #a3a3a3;
    font-size: 11px;
    display: block;
}

.news-excerpt .title-exc {
    font-size: 12px;
    color: #025e24;
    font-weight: bold;
}

.noticias .read-more {
    margin-top: 0;
}

.maps {
    position: relative;
    overflow: hidden;
    height: 248px;
    width: 100%;
}

.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapa {
    margin-top: 50px;
}

footer {
    background-color: #333333;
    padding: 20px;
    margin: 0 !important;
    color: #FFFFFF;
    position: relative
}

.head-text {
    padding: 25px 10px 15px 10px;
    float: left;
}

#detail {
    list-style-type: none;
    font-weight: bold;
    padding: 0;
}

.details-nav li {
    margin-right: 60px;
}

.details-nav li a {
    font-family: 'DINPro-Bold';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none !important;
}

.details-nav li.active a {
    color: #314c7c;
    background: url(images/caret-up.png) no-repeat center bottom;
}

.tab-detalhe .tab-content {
    background-color: #efefef;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.tab-detalhe .tab-content p,
.tab-detalhe .tab-content ul li {
    font-family: 'DINPro-Medium';
    color: #333333;
}

.tab-detalhe .tab-content ul li {
    text-transform: uppercase
}

.link-img-car-list {
    display: block;
    min-height: 194px;
}

.foot-text p {
    margin-bottom: 0;
    padding: 10px 0px;
}

.social a {
    color: #FFFFFF;
}

.social a:hover,
.social a:focus {
    color: #ffc700;
}

.social .fa {
    float: right;
    margin: 6px 10px;
}

.social .fa+.fa {
    margin-left: 20px;
}

.home-title {
    font-family: 'Helvetica';
    font-size: 35px;
    color: #787878;
}

.home-sub-title {
    font-size: 25px;
    color: #929292;
}

.pos-venda {
    margin-left: 37%
}

.home-ico span {
    color: #777777;
    font-weight: bold;
    text-align: center;
    display: block;
}

.form-home .form-control {
    border-radius: 0;
/*    border-color: #EEE;*/
}

.form-home input[type=submit]:focus {
    outline: none;
}

.form-home input[type=submit],
a.veja-mais-novos {
    background: #e5c332;
    background: -moz-linear-gradient(top, #e5c332 0%, #b48418 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5c332), color-stop(100%, #b48418));
    background: -webkit-linear-gradient(top, #e5c332 0%, #b48418 100%);
    background: -o-linear-gradient(top, #e5c332 0%, #b48418 100%);
    background: -ms-linear-gradient(top, #e5c332 0%, #b48418 100%);
    background: linear-gradient(to bottom, #e5c332 0%, #b48418 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e5c332', endColorstr='#b48418', GradientType=0);
    padding: 15px 60px;
    color: #000;
    border-radius: 40px;
    border: none;
    font-weight: bold;
}

.form-home input[type=submit] {
    float: right;
}

a.veja-mais-novos {
    display: block;
    width: 175px;
    text-align: center;
    margin: auto;
    padding: 15px 30px;
}

.white-home {
    padding: 35px 0;
}

.white-bg .row>div.form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.white-bg .row>div {
    padding: 0px 25px;
}

.form-banner {
    background: #000000;
    padding: 20px
}

.form-banner h2 {
    color: #ffbf00;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.form-banner textarea {
    height: 76px;
}

.form-banner label {
    color: #ffffff;
    font-size: 11px;
    font-weight: normal;
}

.form-banner input[type=submit] {
    background-color: #ffbb00;
    color: #FFF;
    font-weight: bold;
    border: none;
}


/*-------------- HOME - END ------------- */


/*-------------- VEICULO-DETAIL - START --*/

.slider-galeria .slide img {
    width: 100%
}

.slider-galeria .slick-prev,
.slick-next {
    width: 32px !important;
    height: 32px !important;
}

.slider-galeria .slick-next:before {
    content: '' !important;
    width: 31px !important;
    height: 32px !important;
    background: url(images/next-new.png) center no-repeat;
    display: block
}

.slider-galeria .slick-prev:before {
    content: '' !important;
    width: 31px !important;
    height: 32px !important;
    background: url(images/prev-new.png) center no-repeat;
    display: block
}

.slider-galeria .slick-next {
    right: 35px !important
}

.slider-galeria .slick-prev {
    left: 35px !important
}

.new-description p {
    color: #787878;
    font-size: 13px;
    font-family: Arial;
}

#table,
#table th,
#table td {
    border: 1px solid #cdcdcd;
    padding: 20px;
    width: 50%;
}

#table th,
#table td {
    border-left: none;
    border-right: none
}

#table {
    width: 100%;
    border: 1px solid #cdcdcd;
}

#table thead th {
    font-size: 18px;
    font-family: 'DINPro-Regular';
    color: #333333;
    text-transform: uppercase
}

#table th {
    font-family: 'DINPro-Bold';
    font-size: 13px;
    color: #787878;
}

#table td {
    color: #787878;
    font-family: 'DINPro-Regular';
    font-size: 13px;
}

.veiculo-detalhe-init a.link-share {
    background-color: #314c7c;
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 2px;
}

.veiculo-detalhe-init a.link-share img,
.veiculo-detalhe-init a.btn-celular img {
    margin-right: 5px
}

.veiculo-detalhe-init a.btn-celular {
    background-color: #818181;
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 2px;
}

.garanta {
    display: inline-block;
    width: 270px;
    margin-bottom: -15px;
    width: 41%;
/*
    display: inline-block;
    width: 270px;
    margin-bottom: -15px;
*/
}

.garanta p {
    color: #818181;
    font-family: 'DINPro-Bold';
    float: left;
    width: 200px;
    margin-bottom: 0;
}

.garanta img {
    float: left
}


/*-------------- VEICULO-DETAIL - END ----*/


/*-------------- CONCESSIONAÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂRIA - START --*/

.row .col-lg-12 h2,
.row .col-md-12 h2,
.row .col-sm-12 h2,
.row .col-xs-12 h2 {
    margin: 20px 0;
}

#outros-models-carousel li a {
    width: 270px;
    min-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin-right: 30px !important;
    border: 1px solid #DDD;
    margin-bottom: 30px;
}

#outros-models-carousel li a img {
    width: 100%;
}

#outros-models-carousel li:last-child a {
    margin-right: 0 !important;
}

.tab-pane.active {
    /* border-left: 1px solid #ddd; */
    /* border-bottom: 1px solid #ddd; */
    /* border-right: 1px solid #ddd; */
    padding: 20px;
}


/*-------------- CONCESSIONARIA - END ----*/


/*-------------- ASSISTENCIA TEC. - START */

.img-adjust img {
    width: 100%;
}

.image-center img {
    margin: auto;
}


/*-------------- ASSISTENCIA TEC. - END --*/


/*-------------- PECAS E ACC. - START ----*/

.form-pecas {
    background-color: #3e3e3e;
    border-radius: 7px;
    padding: 25px;
    color: #FFFFFF;
    float: left;
    margin-bottom: 45px;
    width: 100%;
}

.form-pecas h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.form-pecas form div input[type=submit] {
    width: 100%;
    text-align: center;
    background-color: #314c7c;
    text-transform: uppercase;
    border: none;
    vertical-align: bottom;
    box-shadow: 0px 4px 0px #5f4c2d;
}

.form-pecas form div input[type=submit]:hover {
    box-shadow: 0px 1px 0px #5f4c2d;
    top: 3px;
}

.ajust-margin {
    padding-right: 40px;
}

.form-pecas form div input,
.form-pecas form div select,
.form-pecas form div textarea {
    width: 100%;
    border-radius: 7px;
    background-color: #3e3e3e;
    border: 2px solid #FFFFFF;
    padding: 5px 6px;
    position: relative
}

.form-pecas form div {
    margin-bottom: 20px;
}

.modal{
    background: rgba(0,0,0,0.8);
}

/*-------------- PECAS E ACC. - END ------*/

@media(max-width:767px) {
    .phone p {
        text-align: center
    }
    .nav-pills>li {
        float: left;
        width: 99%;
        text-align: center;
    }
    .no-mobile {
        display: none;
    }
    .logo2 {
        text-align: center
    }
    .carousel-control.left,
    .carousel-control.right {
        display: none
    }
    .box {
        width: 272px;
        margin: auto;
        float: none;
    }
    .detalhe-veiculo .box {
        float: none;
        width: 99%;
    }
    .boxes .box:first-child {
        margin: auto;
    }
    .boxes .box:last-child {
        margin: auto;
    }
    .cotacao-form {
        padding-top: 5px
    }
    section .maps {
        height: 278px !important;
    }
    .car-image img {
        width: 100% !important;
    }
    .veiculo-detalhe-init {
        float: none;
    }
    #chatReweb {
        bottom: 0 !important;
        transform: scale(0.69) !important;
    }
}

@media(min-width:767px){
    .modal-dialog {
     width: 900px;
    }
}

@media(max-width: 991px) {
    header .logo img {
        margin-top: 10px;
        width: 247px;
    }
    .nav {
        margin-left: 0;
    }
    .nav>li>a {
        padding: 7px;
    }

    .align-button{
        display: block !important;
        float: none !important;
        margin: 0 auto !important;
    }
    .button1,
    .button2 {
        font-size: .8em
    }
    .pecas .read-more {
        margin-top: 49px;
    }
    section .maps {
        height: 378px !important;
    }
    .car-image img {
        width: 100% !important;
    }
    .form-button {
        font-size: 12px;
    }
    .cotacao-form {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 20px;
    }
    .container.pull-up {
        width: 100%;
        padding: 0;
        background-color: #374b01;
    }
    img.navbar-right {
        padding: 15px 0;
    }
    .push-up {
        margin-top: 0;
        margin-bottom: 150px;
    }
}

@media(min-width: 992px) {
    .push-up {
        margin-top: -535px;
        margin-bottom: 150px;
    }

    .estado-form{
        margin-top: -30px;
    }

    header .logo {
        padding-left: 0;
        padding-right: 0;
    }
    .cotacao-form {
        background-color: #374b01;
        position: absolute;
        right: 0;
    }
    .detalhe-veiculo .cotacao-form {
        position: inherit;
    }
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .button1,
    .button2 {
        font-size: .8em
    }
    .pecas .read-more {
        margin-top: 49px;
    }
    .boxes .box {
        width: 23%;
    }
    section .maps {
        height: 478px !important;
    }
    .car-image {
        text-align: center
    }
    .form-button {
        font-size: 14px;
    }
    .container.pull-up {
        position: relative;
    }
    .cotacao-form form select,
    .cotacao-form form input,
    .cotacao-form form input[type=submit],
    .cotacao-form form textarea,
    .form-button {
        margin-bottom: 10px;
    }
    .box {
        padding: 20px;
        margin-top: -41%;
        margin-bottom: 41%;
    }
    img.navbar-right {
        padding: 15px 0;
    }
    .push-up {
        margin-top: -500px;
        margin-bottom: 150px;
    }
}

@media(min-width: 1200px) {
    .left-border {
        position: absolute;
        background-color: #4D4C4C;
        width: 1px;
        height: 135px;
        /* position: absolute; */
        margin-top: 0px;
        margin-left: 281px;
    }
    .right-border {
        position: absolute;
        background-color: #4D4C4C;
        width: 1px;
        height: 135px;
        margin-top: 0px;
        margin-left: 1050px;
    }
    .center-border {
        position: absolute;
        background-color: #4D4C4C;
        width: 769px;
        height: 1px;
        margin-top: 46px;
        margin-left: 281px;
    }
    .logo2 {
        float: right;
        padding: 39px 0px;
        margin-right: 5px;
    }
    .navbar-header .logo {
        float: left;
    }
    img.navbar-right {
        padding: 15px 0;
    }
    .navbar-collapse {
        padding-right: 0
    }
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .car-image {
        text-align: center
    }
    .button1,
    .button2 {
        font-size: 1em
    }
    .pecas .read-more {
        margin-top: 65px;
    }
    .boxes .box {
        width: 24%;
    }
    .cotacao-form {
        width: 25% !important
    }
    section .maps {
        height: 578px !important;
    }
    .mini-map .maps {
        height: 350px !important
    }
    .car-detail p {
        text-align: center;
        width: 65%;
        margin: auto;
        line-height: 22px;
        padding: 25px 0;
    }
    .col-lg-12 .form-pecas form div:first-child {
        padding-left: 0;
    }
    .col-lg-12 .form-pecas form div:nth-child(3n+4) {
        padding-left: 0 !important;
        clear: both;
    }
    .container.pull-up {
        margin-top: -34%;
        margin-bottom: 34%;
    }
    .box {
        padding: 20px;
        margin-top: 0px;
    }
    .cotacao-form form select,
    .cotacao-form form input,
    .cotacao-form form input[type=submit],
    .cotacao-form form textarea,
    .form-button {
        margin-bottom: 12px;
    }
    .push-up {
    margin-top: -600px;
    }
}

.a-color {
    color: black;
}

.flex-direction-nav {
    display: none !important;
}

.img-up {
    margin-top: -323px;
    z-index: 0;
}

.img-up2 {
    margin-top: -100px;
    z-index: -1;
}

.map-info {
    padding: 26px;
}

.nice {
    width: 100%;
    ;
}

.nice .NFI-button {
    float: right !important;
    background-color: #666;
    padding: 7px;
    border-radius: 5px;
    margin-left: 5px;
    width: 39%;
}

.white-bg {
    background-color: #FFF;
    border-radius: 10px;
    margin-top: -70px;
    position: relative;
    margin-bottom: 100px;
}

.NFI-filename {
    width: 58% !important;
    padding: 8px !important;
}

.NFI-wrapper {
    margin-bottom: 15px;
}

.pd-20 {
    padding: 0 20px !important;
}

.new-car-desc p {
    /*min-height: 160px;*/
}

#myCarousel {
    top: -10px;
}


/* ---------------------- Home Marcas - Start -------------------- */

.mark_countent {
    background: url('images/backmarks.png');
}

.mark-header {
    height: 60px;
    position: relative;
}

.mark-header .logo {
    float: left;
    margin-left: 14%;
    margin-top: 0.6%;
}

.mark-header .select-pref {
    float: left;
    margin-left: 10%;
    margin-top: 1.1%;
    color: #ffffff;
}

.mark-footer {
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
}

.mark-footer .logo {
    float: left;
    margin-left: 14%;
    margin-top: 0.8%;
}

.mark-footer .adress {
    float: left;
    color: #BABABA;
    margin-left: 5%;
    margin-top: 1.2%;
}

.mark-content {
    width: 100%;
    position: relative;
    height: 100%;
}

.mark-footer .phonemakers {
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

.mark-footer .phonemakers p {
    color: #BABABA;
}

.mark-footer .phonemakers p a {
    color: #BAAA8A;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

.mark-footer .socialmaker {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}

.centered-square1 {
    width: 141px;
    margin: auto
}

.centered-square3 {
    width: 450px;
    margin: auto;
}

.centered-square3 .squared {
    float: left;
    width: 33%;
    text-align: center
}

.centered-square2 {
    width: 250px;
    margin: auto
}

span.maker-name {
    text-transform: capitalize;
}

.centered-square2 .squared {
    width: 50%;
    float: left;
    text-align: center
}

.centered-square4 {
    width: 500px;
    margin: auto
}

.centered-square4 .squared {
    width: 25%;
    float: left;
    text-align: center
}

.full-divider {
    margin-left: -15px;
    margin-right: -15px;
    height: 2px;
    border-top: 2px solid #e1e1e1
}

big.grey {
    color: #787878;
    font-size: 35px;
}

.news-form input[type=submit] {
    background-color: #e2bb3c;
    border-radius: 7px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}


/*-------------------- Promocoes - Start --------------------*/

.bg-grey {
    background-color: #e3e3e3;
    color: #484848;
}

h2.bg-grey {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding: 15px;
}

div.bg-grey {
    padding: 10px;
    float: left;
    width: 100%;
    margin-top: 10px
}

.bg-grey p {
    font-size: 18px;
    margin-bottom: 0;
}

.promo-novo button,
.promo-usado button {
    background-color: #2b4474;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    border: none;
    outline: none;
    padding: 7px 22px;
    border-radius: 4px;
}

.promo-usado h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.promo-usado small {
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}

.bg-interna.no-bg {
    height: 0
}


/*--------------------- Promocoes - End ---------------------*/


/*-------------------- Consorcio - Start --------------------*/


/*--------------------- Consorcio - End ---------------------*/


/*--------------------- Usados - Start ----------------------*/

.filters {
    background-color: #2b4474;
    border-radius: 10px;
    padding: 15px;
}

.filters h2 {
    font-size: 24.7px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 30px;
}

.filters label {
    display: block;
    color: #ffffff;
}

.filters .checkbox {
    display: block;
}

.form-group {
    margin-bottom: 30px
}

.mg-tp-100 {
    margin-top: 100px;
}

.italic-title {
    font-size: 20px;
    margin-top: 0;
    font-style: italic;
    color: #333333;
    font-weight: 700;
}

h3.small {
    font-size: 13px;
    font-weight: 400;
    color: #999;
    margin-top: 0
}

.no-row-gutter {
    padding: 0 17px !important
}

label.ordenar {
    width: 111px;
    text-align: left
}

#order {
    padding: 10px;
    border-radius: 7px;
}

.used-car {
    padding: 10px;
    border: 1px solid #c9c9c9;
    float: left;
    padding-bottom: 0;
    margin-bottom: 30px;
    position: relative;
}

.used-car:last-child {
    margin-bottom: 0
}

.used-car-img {
    float: left;
    display: block;
    width: 288px;
    text-align: left;
    margin-left: -10px;
    margin-top: -10px;
}

.used-car-img img {
    float: left;
    position: relative;
    z-index: 2;
}

.used-car-info {
    float: left;
    width: 505px;
    margin-left: 15px
}

.used-car-info h3 {
    margin-top: 0;
    font-size: 22px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.used-car-info .price {
    float: right;
    font-family: 'DINPro-Regular';
    margin-top: -32px;
    font-size: 24px;
    color: #393b47;
    font-weight: 400
}

.used-car-info .info1 {
    font-family: 'DINPro-Regular';
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
}

.used-car-info .info2 {
    font-family: 'DINPro-Regular';
    color: #333333;
    font-weight: 400;
    font-size: 12px;
}

.foot-bar {
    padding: 15px 10px;
    padding-left: 0;
    margin-bottom: 0;
}

.foot-bar .btn-group {
    border: 1px solid #818181;
    border-radius: 5px;
    height: 32px;
}

.foot-bar .btn-group .btn {
    border: none;
    text-transform: uppercase;
    padding: 5px 9px;
    height: 30px
}

.foot-bar .btn-saiba-mais {
    background-color: #393b47;
    color: #FFF;
    font-weight: 400;
    font-family: 'DINPro-Regular';
    font-size: 13px;
}

.foot-bar .btn-celular {
    color: #616161;
}

.foot-bar .btn-preco-especial {
    background-color: #2b4474;
    color: #FFF
}

#detail li {
    font-size: 17px;
    color: #333333;
    font-weight: 400;
    font-family: 'DINPro-Regular';
    clear: both;
    margin-bottom: 30px;
}

#detail li:before {
    content: '';
    width: 26px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 15px;
}

li.preco:before {
    background: url(images/preco.png) no-repeat center;
}

li.ano:before {
    background: url(images/ano.png) no-repeat center;
}

li.km:before {
    background: url(images/km.png) no-repeat center;
}

li.cambio:before {
    background: url(images/transmission.png) no-repeat center;
}

li.combustivel:before {
    background: url(images/fuel.png) no-repeat center;
}

.price-box {
    border: 3px solid #314c7c;
    margin-bottom: 35px;
}

.price-box ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.price-box ul li {
    width: 100%;
    padding: 15px;
}

.price-box ul .old {
    color: #2d96cd;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
}

.price-box ul .old span {
    font-family: 'DINPro-Bold';
    color: #314c7c;
}

.price-box ul .new {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
    background-color: #314c7c;
}

.price-box ul .new span {
    font-family: 'DINPro-Bold';
    color: #FFF;
}

.strike {
    text-decoration: line-through
}

.used-buttons .btn-celular,
.used-buttons .btn-preco-especial {
    padding: 10px;
    font-family: 'DINPro-Regular';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    min-width: 171px;
}

.used-buttons .btn-celular {
    background-color: #314c7c;
}

.used-buttons .btn-preco-especial {
    background-color: #898989;
}

@media (max-width:768px) {

    .left-block{
        padding-right: 0px;
    }

    .right-block{
        padding-left: 0px;
    }

    .mg-tp-100 {
        margin-top: 50px;
    }

    .veiculo-detalhe-init a.btn-celular{
        margin-bottom: 10px;
    }

    .garanta{
        display: none;
    }

    .white-bg{
        margin-top: 10px;
    }
}
/*---------------------- Usados - End -----------------------*/

.regioes_atendidas {
    color: #787878;
    font-size: 18px;
    list-style-image: url("../images/bullet.png");
}

@media (max-width:467px) {
    .cars-home li {
        float: none;

    }
    .cars-home li a img{
        margin: 0 auto;
        display: block;
    }
}
@media(max-width: 500px){
    .centered-square4 {
        max-width: 100%;
        overflow: hidden;
    }
    .centered-square4 .squared {
        float: left;
        text-align: center;
        width: 50%;
    }
}


.click2call { position: absolute; right: 200px; top: 33%; }

.form-home .col-lg-6 input{
    margin-bottom: 5px;
}
.form-home .col-lg-6 label{
    margin-top: 5px;
}