{% extends "layout.html" %} {% block title %}{{ 'title'|trans }}{% endblock %} {% block content %}
<section class="no-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Notícias e novidades</h1> 
                {% if news|length == 0 %}
                <div class="post-blog">
                    <h2>Nenhum post cadastrado até o momento.</h2>
                </div>
                {% endif %} 
                {% for page in news %} {% for new in page %} {% if loop.first %}
                
                <div class="noticia destaque">

                    <a href="{{rooturl}}noticias/{{new.slug}}" title=""><img src="{{ new.image }}">
                    </a>
                    <a href="{{rooturl}}noticias/{{new.slug}}" class="data-noticia">{{ new.publication_date|date('d, F \\d\\e Y') }}</a>
                    <a href="{{rooturl}}noticias/{{new.slug}}" class="title-noticia">{{ new.title }}</a>
                    <p>{{ new.description|raw }}</p>
                    <div class="share-buttons">
                        <a href="#"><img src="assets/frontend/images/fb-share.png" />
                        </a>
                        <a href="#"><img src="assets/frontend/images/tw-share.png" />
                        </a>
                        <a href="#"><img src="assets/frontend/images/gp-share.png" />
                        </a>
                        <a href="#"><img src="assets/frontend/images/mail-share.png" />
                        </a>
                    </div>

                </div>
                {% else %}
                 <div class="noticias-lista">
                        <div class="noticia-list">
                            <a href="#" class="data-noticia">{{ new.publication_date|date('d, F \\d\\e Y') }}</a>
                            <a href="#" class="title-noticia">{{ new.title }}</a>
                        </div>
                </div>
                
                {% endif %} {% endfor %} {% endfor %} 
                {% if news|length > 1 %}
                <div class="pagination-not">
                    <a href="#" class="anterior">Anterior</a> {% for page in news %}
                    <a href="#">{{loop.index}}</a> {% endfor %}
                    <a href="#" class="proxima">Proxima</a>
                </div>
                {% endif %}

            </div>
            <div class="col-lg-3">
                <div class="widget-lat">
                    <h2>Mais lidas</h2> {% for new in news_more_views[:5] %}
                    <div class="top-read">
                        <span class="number">{{loop.index}}</span>
                        <a href="{{rooturl}}noticias/{{new.slug}}" class="top-noticia">{{new.title}}</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="widget-lat">
                    <h2>Midia online</h2>
                    <a href="#">
                        <img src="assets/frontend/images/video.png" class="video-lnk" alt=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fuga.
                    </a>
                </div>
            </div>
            <div class="row other-vehicles">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Conheça outros modelos</h2>
                    <div class="slider">
                        {% for car in cars.cars %} {% if car.image %}
                        <div class="slide">
                            <a href="{{car|url}}"><img src="{{car.imageURL}}thumb/{{car.image.miniatura}}" width="136">
                            </a>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}