{% extends "layout.html" %} {% block title %}{{ 'title'|trans }}{% endblock %} {% block content %}
<section class="no-banner">

    <div class="content-internas">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 noticias">
                    <h1>Notícias e novidades</h1>
                    <div class="noticia destaque">

                        <a href="{{rooturl}}noticias/{{new.slug}}" title=""><img src="{{ new.image }}">
                        </a>
                        <a href="{{rooturl}}noticias/{{new.slug}}" class="data-noticia">{{ new.publication_date|date('d/m/Y H:i:s') }}</a>
                        <a href="{{rooturl}}noticias/{{new.slug}}" class="title-noticia">{{ new.title }}</a>
                        <p>{{ new.subtitle }}</p>
                        <p>{{ new.description|raw }}</p>
                        <div class="share-buttons">
                            <a href="#"><img src="assets/frontend/images/fb-share.png" />
                            </a>
                            <a href="#"><img src="assets/frontend/images/tw-share.png" />
                            </a>
                            <a href="#"><img src="assets/frontend/images/gp-share.png" />
                            </a>
                            <a href="#"><img src="assets/frontend/images/mail-share.png" />
                            </a>
                        </div>

                    </div>
                    {% for coment in new.coments %}
                    <div class="border-tb">
                        {{loop.index0+1}} comentários para esta notícia
                    </div>
                    <div class="comments-box col-lg-12">
                    <div class="col-lg-4">
                        <div class="comment-nome">{{ coment.name }}</div>
                        <div class="comment-date">{{ coment.date|date('d, F \\d\\e Y') }}</div>
                    </div>
                    <div class="col-lg-8">
                        <p class="comment-desc">{{ coment.message }}</p>    
                    </div>
                    </div>
                    {% endfor %}
                    <form id="formComent" action="{{ rooturl }}register_coment/{{ new.id }}/{{ new.slug }}" method="post">
                    <div class="col-lg-6 formname"><input type="text" name="name" id="name" placeholder="Nome: " /></div>
                    <div class="col-lg-6"><input type="text" name="email" id="email" placeholder="E-mail: " /></div>
                    <div class="col-lg-12"><textarea name="message" id="message" cols="30" rows="2" placeholder="Mensagem: "></textarea></div>
                    <div class="col-lg-3"><input type="submit" value="Comentar" onclick="sendComentBlog()" /></div>
                </form>
                </div>
                <div class="col-lg-3">
                    <div class="widget-lat">
                        <h2>Mais lidas</h2> {% for new in news_more_views[:5] %}
                        <div class="top-read">
                            <span class="number">{{loop.index}}</span>
                            <a href="{{rooturl}}noticias/{{new.slug}}" class="top-noticia">{{new.title}}</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="widget-lat">
                        <h2>Midia online</h2>
                        <a href="#">
                            <img src="assets/frontend/images/video.png" class="video-lnk" alt=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fuga.
                        </a>
                    </div>
                </div>
            </div>
            <div class="row other-vehicles">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Conheça outros modelos</h2>
                    <div class="slider">
                        {% for car in cars.cars %} {% if car.image %}
                        <div class="slide">
                            <a href="{{car|url}}"><img src="{{car.imageURL}}thumb/{{car.image.miniatura}}" width="136"></a>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}