{% extends "layout.html" %} {% block title %}Comprar jeep-dodge-ram-chrysler {{car.name}} em Barra da Tijuca, RJ{% endblock %} {% block content %}
<section class="bg-interna no-bg">
    <div class="container-fluid">
        <div class="row">
            <img src="assets/frontend/images/images/promocoes.png" alt="" class="img-full">
        </div>
    </div>
</section>
<section>
    <div class="container white-home white-bg mg-tp-100">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-lg-12">
                <h1>DETALHES DO VEÍCULO</h1>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 veiculo-detalhe-init">
                <div class="slider-galeria">
                    {% for image in car.images %}
                    {% if image.car_model_id == null %}
                    <div class="slide">
                        <img src="{{car.imageURL}}{{image.image}}" class="img-full">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="fb-share-button btn link-share col-xs-12 col-md-3" data-href="https://www.facebook.com/jeepusastar/?fref=ts" data-layout="button"></div>
                <a class="btn btn-celular celular col-xs-12 col-md-4" data-modal="ligamos" role="button" id="modal-ligamos" href="javascript:void(0)" 
><img src="assets/frontend/images/phone.png" alt="">Enviar Para o Celular</a>
                <div class="garanta col-md-5">
                    <p>GARANTA O SEU ATRAVÉS DO FORMULÁRIO AO LADO</p>
                    <img src="assets/frontend/images/garanta.png" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-5 form-banner">
                <h2>SOLICITE PREÇO ESPECIAL DE INTERNET</h2>
                <form class="form1" onsubmit="return false;">
                   <input type="hidden" class="captation" name="formCaptation" value="FORM_PRECO_ESPECIAL_NOVOS" />
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="NOME" name="nome" data-placeholder="Nome" data-required="true">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 left-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="E-MAIL" name="email" data-placeholder="E-mail" data-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="TELEFONE" name="phone" data-placeholder="Telefone" data-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 right-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="CIDADE" name="city" data-placeholder="Cidade" data-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <select name="state" id="" class="form-control" data-required="true" data-placeholder="Estado">
                                    <option value="">ESTADO</option>
                                    <option value="ac">Acre</option>
                                    <option value="al">Alagoas</option>
                                    <option value="am">Amazonas</option>
                                    <option value="ap">Amapá</option>
                                    <option value="ba">Bahia</option>
                                    <option value="ce">Ceará</option>
                                    <option value="df">Distrito Federal</option>
                                    <option value="es">Espírito Santo</option>
                                    <option value="go">Goiás</option>
                                    <option value="ma">Maranhão</option>
                                    <option value="mt">Mato Grosso</option>
                                    <option value="ms">Mato Grosso do Sul</option>
                                    <option value="mg">Minas Gerais</option>
                                    <option value="pa">Pará</option>
                                    <option value="pb">Paraíba</option>
                                    <option value="pr">Paraná</option>
                                    <option value="pe">Pernambuco</option>
                                    <option value="pi">Piauí</option>
                                    <option value="rj">Rio de Janeiro</option>
                                    <option value="rn">Rio Grande do Norte</option>
                                    <option value="ro">Rondônia</option>
                                    <option value="rs">Rio Grande do Sul</option>
                                    <option value="rr">Roraima</option>
                                    <option value="sc">Santa Catarina</option>
                                    <option value="se">Sergipe</option>
                                    <option value="sp">São Paulo</option>
                                    <option value="to">Tocantins</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="model" id="" class="form-control" data-placeholder="Modelo Desejado" disabled="true">
                                <option value="{{car.name}}">{{car.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="" placeholder="MENSAGEM" class="form-control" data-placeholder="Mensagem"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-8">
                                <label>
                                    <input type="checkbox" name="newsletter"> Desejo receber novidades por email/sms
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="ENVIAR" class="form-control" onclick="enviar_form(1);">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 car-desc">
                <h2>{{car.name}}</h2>
                <div class="new-description">{{car.description|raw}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ficha">
                <h2>Ficha técnica</h2>
                <a href="assets/frontend/images/pdf/{{car.id}}.pdf" target="_blank">Veja aqui a ficha técnica do Jeep {{car.name}}</a>
            </div>
        </div>
</section>
{% endblock %}
