{% extends "layout.html" %}
{% block title %}{{ 'title'|trans }}{% endblock %}
{% block content %}
<div class="container clearfix">
  <!-- start box -->
    <div class="box">
      <!-- start leftcol -->
        <div class="leftcol">
          <!-- start title bar -->
            <div class="title-bar clearfix">
              <!-- start breadcrumb -->
                <div class="breadcrumb right">
                    <ul> 
                        <li>{{message}}</li>
                    </ul>
                </div>
                <!-- end breadcrumb -->
                <h3 class="heading left">VEÍCULOS</h3>
            </div>
            <!-- end title bar -->
          <!-- start vehicles -->
        </div>
        <!-- end vehicles list -->
    </div>
    <!-- end vehicles -->
</div>
{% endblock %}