<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="{% block contenttitle %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="{% block ogurl %}{% endblock %}">
    <meta property="og:image" content="{% block ogimage %}{% endblock %}">
    <meta property="og:site_name" content="{% block ogsitename %}{% endblock %}">
    <meta property="fb:admins" content="Fb admins">
    <meta property="og:description" content="{% block ogdescription %}{% endblock %}">
    <link rel="shortcut icon" href="favicon.ico">
    <title>{% block title %}USA Star - Concessionária Jeep Dodge RAM Chrysler em Barra da Tijuca, RJ{% endblock %}</title>
    <base href="{{ rooturl }}" />
    <!-- Bootstrap -->

    <!-- Bootstrap -->
    <link href="assets/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/frontend/css/style.css" rel="stylesheet">
    <link href="assets/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/frontend/css/full-slider.css" rel="stylesheet">
    <link href="assets/frontend/css/slick.css" rel="stylesheet">
    <link href="assets/frontend/css/slick-theme.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript">
        /*setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//cdn.reweb-corp.com/hm.0.0.1.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true;
            a.type = "text/javascript";
            b.parentNode.insertBefore(a, b)
        }, 1);*/
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
  @media(max-width: 767px){
    .maker_home{
      max-width: 100%;
    }
  }
  @media(min-width: 768px){
    #maker_jeep, #maker_chrysler{
      float:left;
      margin:0;
      padding:0;
      width:31.25%;
    }
    #maker_dodge, #maker_ram{
      float:left;
      margin:0;
      padding:0;
      width:18.75%;
    }
  }
</style>
</head>

<body style="background: #292929;">
    <div class="mark-header">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="logo">
              <a href="#" class=""><img src="assets/frontend/images/logo.png" />
              </a>
            </div>
        </div>
    </div>
  <div style="mark-content">
          {% for maker in makers  %}
          {% endfor %}
          <div id="maker_jeep" class="maker_home">
              <a href="{{rooturl}}jeep/"  ><img src="{{rooturl}}assets/frontend/images/jeep-mark.png" width="100%"></a>
          </div>
          <div id="maker_dodge" class="maker_home">
              <a href="{{rooturl}}dodge/" ><img src="{{rooturl}}assets/frontend/images/dodge-mark.png" width="100%"></a>
          </div>
          <div id="maker_ram" class="maker_home">
              <a href="{{rooturl}}ram/" ><img src="{{rooturl}}assets/frontend/images/ram-mark.png" width="100%"></a>
          </div>
          <div id="maker_chrysler" class="maker_home">
              <a href="{{rooturl}}chrysler/"><img src="{{rooturl}}assets/frontend/images/chrysler-mark.png" width="100%"></a>
          </div>

  </div>
  <div class="mark-footer">
          <div class="logo">
            <a href="#" class=""><img src="assets/frontend/images/logo.png" /></a>
          </div>
          <div class="adress">
              <p>Av. das Américas, 3693 - Barra da Tijuca Rio de Janeiro - RJ 22631-003</p>
              <p>Horário de atendimento: 08h - 19h - Segunda à sábado</p>
          </div>
          <div class="phonemakers">
              <p>Tel. <span class="buscaTelefone" data-unidade-id="{{p.id}}">(21) 3613-3000</span></p>
          </div>
          <div class="socialmaker social">
              <a href="https://www.instagram.com/concessionariausastar/"><i class="fa fa-2x fa-instagram"></i></a>
              <a href="https://www.facebook.com/jeepusastar/?fref=ts"><i class="fa fa-2x fa-facebook"></i></a>
          </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/frontend/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/frontend/js/bootstrap.min.js"></script>
    <script src="assets/frontend/js/slick.js"></script>
    <script src="assets/frontend/js/jquery.nicefileinput.min.js"></script>
    <script src="assets/frontend/js/jquery.inputmask.bundle.min.js"></script>
    <script src="assets/frontend/js/search.js"></script>
    <script src="assets/frontend/js/custom.js"></script>
    <script src="assets/frontend/js/jquery.touchSwipe.min.js"></script>
    {% if success|default(false) == true %}
    <script>
        alert('Formuário enviado com sucesso!');
    </script>
    {% endif %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <!--div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div-->
    </div>
    </div>
    </div>

</body>

</html>
