{% extends "layout.html" %} {% block title %}USA Star - Home{% endblock %} {% block content %}
<section>
    <div id="myCarousel" class="carousel slide clearfix" data-ride="carousel">


        <!--   Verifica se o banner é da marca selecionada na home     -->
        {% set jeep_id = 15 %} {% set chrysler_id = 17 %} {% set dodge_id = 18 %} {% set ram_id = 19 %}
        {% set jeep_array = [] %} {% set chrysler_array = [] %} {% set dodge_array = [] %} {% set ram_array = [] %}
        {% if banners %}

            <!--     Salva os banners de acordo com a marca selecionada      -->
            {% for banner in banners.banners %}
                {% set result = banner.maker_id %}
                {% if result == jeep_id %} {% set jeep_array = jeep_array|merge([banner]) %}
                {% elseif result == chrysler_id %} {% set chrysler_array = chrysler_array|merge([banner]) %}
                {% elseif result == dodge_id %} {% set dodge_array = dodge_array|merge([banner]) %}
                {% elseif result == ram_id %} {% set ram_array = ram_array|merge([banner]) %} {% endif %}
            {% endfor %}

            <ol class="carousel-indicators">
                {% if maker == "jeep" %}
                    {% for banner in jeep_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% elseif maker == "chrysler" %}
                    {% for banner in chrysler_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% elseif maker == "ram" %}
                    {% for banner in ram_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% elseif maker == "dodge" %}
                    {% for banner in dodge_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% endif %}
            </ol>

            <div class="carousel-inner" role="listbox">
            <!--     Verifica se o banner esta de acordo com a marca selecionada      -->
                {% if maker == "jeep" %}
                    {% for banner in jeep_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% elseif maker == "chrysler" %}
                   {% for banner in chrysler_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% elseif maker == "dodge" %}
                   {% for banner in dodge_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% elseif maker == "ram" %}
                    {% for banner in ram_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}




    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
       </a>
    </div>
</section>
   <section class="push-up">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8 form-banner">
                <h2>SOLICITE PREÇO ESPECIAL DE INTERNET</h2>
                <form class="form1" onsubmit="return false;">
                   <input type="hidden" class="captation" name="formCaptation" value="FORM_PRECO_ESPECIAL_HOME" />
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="NOME" name="name" data-placeholder="Nome" data-required="true">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 left-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="E-MAIL" name="email" data-placeholder="E-mail" data-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="TELEFONE" name="phone" data-placeholder="Telefone" data-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 right-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="CIDADE" name="city" data-placeholder="Cidade" data-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <select name="state" id="" class="form-control" data-required="true" data-placeholder="Estado">
                                    <option value="">ESTADO</option>
                                    <option value="ac">Acre</option>
                                    <option value="al">Alagoas</option>
                                    <option value="am">Amazonas</option>
                                    <option value="ap">Amapá</option>
                                    <option value="ba">Bahia</option>
                                    <option value="ce">Ceará</option>
                                    <option value="df">Distrito Federal</option>
                                    <option value="es">Espírito Santo</option>
                                    <option value="go">Goiás</option>
                                    <option value="ma">Maranhão</option>
                                    <option value="mt">Mato Grosso</option>
                                    <option value="ms">Mato Grosso do Sul</option>
                                    <option value="mg">Minas Gerais</option>
                                    <option value="pa">Pará</option>
                                    <option value="pb">Paraíba</option>
                                    <option value="pr">Paraná</option>
                                    <option value="pe">Pernambuco</option>
                                    <option value="pi">Piauí</option>
                                    <option value="rj">Rio de Janeiro</option>
                                    <option value="rn">Rio Grande do Norte</option>
                                    <option value="ro">Rondônia</option>
                                    <option value="rs">Rio Grande do Sul</option>
                                    <option value="rr">Roraima</option>
                                    <option value="sc">Santa Catarina</option>
                                    <option value="se">Sergipe</option>
                                    <option value="sp">São Paulo</option>
                                    <option value="to">Tocantins</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="model" id="" class="form-control" data-placeholder="Modelo Desejado" data-required="true">
                            <option value="">MODELO DESEJADO</option>
                            {% for car in cars.cars %}
                                <option value="{{car.name}}">{{car.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="" placeholder="MENSAGEM" class="form-control" data-placeholder="Mensagem"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-8">
                                <label>
                                    <input type="checkbox" name="newsletter"> Desejo receber novidades por email/sms
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="ENVIAR" class="form-control" onclick="enviar_form(1);">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container white-home white-bg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center title">Conheça os carros</h1>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs cars-home" role="tablist">
                        {% for car in cars.cars %} {% if car.image %}
                        <li role="presentation" class="{%if loop.first%}active{% endif %}">
<!--                            <a href="#{{car.name|replace({' ' : '_'})}}" aria-controls="{{car.name}}" role="tab" data-toggle="tab">-->
                            <a href="{{car|url}}" aria-controls="{{car.name}}" role="tab" title="{{car.name}}">
                                <img src="http://dealers.rewebmkt.com/thumb.php?src={{car.image.image}}&size=200x" alt="{{car.name}}">
                                <br />
                                <span>{{car.name}}</span>
                            </a>
                        </li>
                        {% endif %} {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for car in cars.cars %} {% if car.image %}
                        <div role="tabpanel" class="tab-pane tab-desc-carros {%if loop.first%}active{% endif %}" id="{{car.name|replace({' ' : '_'})}}">

                            <div class="col-lg-6">
                                <img src="assets/frontend/images/{{car.name|lower|replace({' ' : '_'})}}-capa.png" alt="">
                            </div>
                            <div class="col-lg-6 new-car-desc">
                                <h2 class="text-left">{{car.name}}</h2> {{car.description|default('')|raw}}
                                <a href="{{car|url}}" class="veja-mais-novos">Conheça Mais</a>
                            </div>

                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>


            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center home-title">Outros Serviços</h2>
                </div>
                <div class="col-lg-12">
                    <h3 class="text-center home-sub-title">Venda</h3>
                    <div class="centered-square2">
                        <div class="squared">
                            <a href="{{rooturl}}test-drive-na-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                                <img src="assets/frontend/images/test-drive-ico.png" class="img-left" alt="">
                                <span>Test Drive</span>
                            </a>
                        </div>
                        <div class="squared">
                            <a href="{{rooturl}}promocoes-na-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                                <img src="assets/frontend/images/promo-ico.png" class="img-center" alt="">
                                <span>Promoções</span>
                            </a>
                        </div>
<!--
                        <div class="squared">
                            <a href="{{rooturl}}consorcio" class="home-ico">
                                <img src="assets/frontend/images/consorcio-ico.png" class="img-center" alt="">
                                <span>Consórcio</span>
                            </a>
                        </div>
-->
                    </div>

                </div>
            </div>
            <div class="row">
                <h3 class="text-center home-sub-title">Pós-Venda</h3>
                <div class="centered-square2">
                    <div class="squared">
                        <a href="{{rooturl}}pecas-e-acessorios-na-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                            <img src="assets/frontend/images/pecas-ico.png" class="img-left" alt="">
                            <span>Peças e Acessórios</span>
                        </a>
                    </div>
                    <div class="squared">
                        <a href="{{rooturl}}servicos-na-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                            <img src="assets/frontend/images/servicos-ico.png" class="img-left" alt="">
                            <span>Serviços</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="text-center home-sub-title">Vendas Diretas</h3>
                <div class="centered-square1">
                    <!--<div class="squared">
                        <a href="{{rooturl}}empresas" class="home-ico">
                            <img src="assets/frontend/images/empresas-ico.png" class="img-left" alt="">
                            <span>Empresas</span>
                        </a>
                    </div>
                    <div class="squared">
                        <a href="{{rooturl}}auto-escola" class="home-ico">
                            <img src="assets/frontend/images/auto-escola-ico.png" class="img-left" alt="">
                            <span>Auto Escola</span>
                        </a>
                    </div> -->
                    <div class="squared">
                        <a href="{{rooturl}}vendas-pne-na-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                            <img src="assets/frontend/images/pne-ico.png" class="img-left" alt="">
                            <span>PNE</span>
                        </a>
                    </div>
                    <!--<div class="squared">
                        <a href="{{rooturl}}locadoras" class="home-ico">
                            <img src="assets/frontend/images/locadora-ico.png" class="img-left" alt="">
                            <span>Locadoras</span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <h3 class="text-center home-sub-title">Institucional</h3>
                <div class="centered-square4">
                    <div class="squared">
                        <a href="{{rooturl}}loja-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                            <img src="assets/frontend/images/institucional-ico.png" class="img-left" alt="">
                            <span>Institucional</span>
                        </a>
                    </div>
                    <div class="squared">
                        <a href="{{rooturl}}trabalhe-conosco-na-concessionaria-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                            <img src="assets/frontend/images/trabalhe-conosco-ico.png" class="img-left" alt="">
                            <span>Trabalhe<br />Conosco</span>
                        </a>
                    </div>
                    <div class="squared">
                        <a href="{{rooturl}}{{maker}}/regioes-atendidas-em-barra-da-tijuca-rj" class="home-ico">
                            <img src="assets/frontend/images/regioes-atendidas-ico.png" class="img-left" alt="">
                            <span>Regiões<br />Atendidas</span>
                        </a>
                    </div>
                    <div class="squared">
                        <a href="{{rooturl}}entre-em-contato-com-a-usa-star-jeep-dodge-ram-chrysler-no-rio-de-janeiro-rj" class="home-ico">
                            <img src="assets/frontend/images/fale-conosco-ico.png" class="img-left" alt="">
                            <span>Fale<br />Conosco</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center home-title">Localização</h2>
                </div>
                <div class="col-lg-12 no-padding">
                    <div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14690.542714922705!2d-43.3507937!3d-23.0004208!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x937c881ff024158!2sUsa+Star!5e0!3m2!1spt-BR!2sbr!4v1449232245803" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center home-title">Solicite aqui sua cotação</h2>
                </div>
                <form class="form2 form-home" onsubmit="return false;">
                    <input type="hidden" class="captation" name="formCaptation" value="FORM_COTACAO_HOME" />
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Nome">Nome</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="name" class="form-control" data-required="true" placeholder="Nome" data-placeholder="Nome">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="E-mail">E-mail</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="email" class="form-control" data-required="true" placeholder="E-mail" data-placeholder="E-mail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Telefone">Telefone</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="phone" class="form-control" data-required="true" placeholder="Telefone" data-placeholder="Telefone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-7 col-lg-7">
                                <label for="Cidade">Cidade</label>
                            </div>
                            
                            <div class="col-xs-12 col-md-7 col-lg-7">
                                <input type="text" name="city" class="form-control" data-required="true" placeholder="Cidade" data-placeholder="Cidade">
                            </div>
                            <div class="col-xs-12 col-md-5 col-lg-5 estado-form">
                                <label for="Estado">Estado</label>
                            </div>
                            <div class="col-xs-12 col-md-5 col-lg-5">
                                <select name="state" id="state" class="form-control selectpicker" data-required="true" placeholder="Estado" data-placeholder="Estado">
                                    <option value=""></option>
                                    <option value="ac">Acre</option>
                                    <option value="al">Alagoas</option>
                                    <option value="am">Amazonas</option>
                                    <option value="ap">Amapá</option>
                                    <option value="ba">Bahia</option>
                                    <option value="ce">Ceará</option>
                                    <option value="df">Distrito Federal</option>
                                    <option value="es">Espírito Santo</option>
                                    <option value="go">Goiás</option>
                                    <option value="ma">Maranhão</option>
                                    <option value="mt">Mato Grosso</option>
                                    <option value="ms">Mato Grosso do Sul</option>
                                    <option value="mg">Minas Gerais</option>
                                    <option value="pa">Pará</option>
                                    <option value="pb">Paraíba</option>
                                    <option value="pr">Paraná</option>
                                    <option value="pe">Pernambuco</option>
                                    <option value="pi">Piauí</option>
                                    <option value="rj">Rio de Janeiro</option>
                                    <option value="rn">Rio Grande do Norte</option>
                                    <option value="ro">Rondônia</option>
                                    <option value="rs">Rio Grande do Sul</option>
                                    <option value="rr">Roraima</option>
                                    <option value="sc">Santa Catarina</option>
                                    <option value="se">Sergipe</option>
                                    <option value="sp">São Paulo</option>
                                    <option value="to">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Modelo">Modelo</label>
                            </div>
                            <div class="col-lg-12">
                                <select name="model" class="form-control selectpicker" data-required="true" placeholder="Modelo" data-placeholder="Modelo">
                                    <option value=""></option>
                                    {% for car in cars.cars %}
                                    <option value="{{ car.name }}">{{ car.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Mensagem">Mensagem</label>
                            </div>
                            <div class="col-lg-12">
                                <textarea name="message" class="form-control" id="" cols="30" rows="10" data-required="true" placeholder="Mensagem" data-placeholder="Mensagem"></textarea>
                            </div>
                        </div>
                        <div class="row mg-tp-10">
                            <div class="col-lg-6">
                                * Campos obrigatórios
                            </div>
                            <div class="col-lg-6">
                                <input type="submit" onclick="enviar_form(2);" class="align-button" value="Enviar">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="full-divider">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="#" class="news-form form3" onsubmit="return false;">
               <input type="hidden" class="captation" name="formCaptation" value="FORM_NEWSLETTER_HOME" />
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <big class="grey">Newsletter</big>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" style="margin-bottom: 10px;">
                    <input type="text" name="name" class="form-control" data-required="true" placeholder="NOME" data-placeholder="Nome">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" style="margin-bottom: 10px;">
                    <input type="text" name="email" class="form-control" data-required="true" placeholder="E-MAIL" data-placeholder="E-mail">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 no-padding">
                    <input type="submit" value="ENVIAR" class="form-control" onclick="enviar_form(3);">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
