<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="{% block contenttitle %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="{% block ogurl %}{% endblock %}">
    <meta property="og:image" content="{% block ogimage %}{% endblock %}">
    <meta property="og:site_name" content="{% block ogsitename %}{% endblock %}">
    <meta property="fb:admins" content="Fb admins">
    <meta property="og:description" content="{% block ogdescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <base href="{{ rooturl }}" />
    <!-- Bootstrap -->

    <!-- Bootstrap -->
    <link href="assets/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/frontend/css/fonts-din.css" rel="stylesheet">
    <link href="assets/frontend/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/frontend/css/flexslider.css">
    <link rel="stylesheet" href="assets/frontend/css/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/frontend/css/jquery-ui.theme.min.css">
    <link href="assets/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/frontend/css/full-slider.css" rel="stylesheet">
    <link href="assets/frontend/css/slick.css" rel="stylesheet">
    <link href="assets/frontend/css/slick-theme.css" rel="stylesheet">
    <link href="//cdn.reweb-corp.com/chat.0.0.1.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript">
        /*setTimeout(function () {
                                                                                            var a = document.createElement("script");
                                                                                            var b = document.getElementsByTagName("script")[0];
                                                                                            a.src = document.location.protocol + "//cdn.reweb-corp.com/hm.0.0.1.js?" + Math.floor(new Date().getTime() / 3600000);
                                                                                            a.async = true;
                                                                                            a.type = "text/javascript";
                                                                                            b.parentNode.insertBefore(a, b)
                                                                                        }, 1);*/
                                                                                    </script>

                                                                                    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                                                                    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
     
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
      
      <div id="overlay"></div>
      <header>
        <div class="container">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{rooturl}}">
                            <img alt="Brand" src="assets/frontend/images/logo.png">
                        </a>
                    </div>                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                        <a href="javascript:void(0);" onclick="click2call()" > 
                            <img class="click2call" src="assets/frontend/images/botaoC2C.png">
                        </a>

                        <a href="{{rooturl}}{{maker}}">
                            <img src="assets/frontend/images/logo-{{maker}}.png" class="navbar-right" alt="">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <img alt="Brand" src="assets/frontend/images/logo.png">
                </div>
                
                {% for p in unidades %}
                <div class="col-lg-5 foot-text">
                    <!-- <p>Av. das Américas, 3693 - Barra da Tijuca Rio de Janeiro - RJ 22631-003</p> -->
                    <p>{{p.endereco}}</p>
                    {% if loop.first %}<p>Horário de atendimento: 08h - 19h - Segunda à sábado</p>{% endif %}
                </div>
                <div class="col-lg-2 foot-text">                   
                    <p>Tel. <span class="buscaTelefone" data-unidade-id="{{p.id}}">(21) 3613-3000</span></p>
                </div>
                {% endfor %}

                <div class="col-lg-2 col-lg-offset-1 social">
                    <a href="https://www.instagram.com/concessionariausastar/"><i class="fa fa-2x fa-instagram"></i></a>
                    <a href="https://www.facebook.com/jeepusastar/?fref=ts"><i class="fa fa-2x fa-facebook"></i></a>
                </div>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/frontend/js/jquery.min.js"></script>
        <script src="assets/frontend/js/jquery-ui.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="assets/frontend/js/bootstrap.min.js"></script>
        <script src="assets/frontend/js/slick.js"></script>
        <script src="assets/frontend/js/dealers.form.js"></script>
        <script src="assets/frontend/js/jquery.nicefileinput.min.js"></script>
        <script src="assets/frontend/js/jquery.inputmask.bundle.min.js"></script>
        <script src="assets/frontend/js/datepicker-pt-BR.js"></script>
        <script src="assets/frontend/js/search.js"></script>
        <script src="assets/frontend/js/custom.js"></script>
        <script src="assets/frontend/js/jquery.flexslider-min.js"></script>
        <script src="assets/frontend/js/sliders.js"></script>
        <script src="assets/frontend/js/jquery.touchSwipe.min.js"></script>
        <script src="assets/frontend/js/modal.js"></script>


        <script type="text/javascript">var acesso_token = "{{accessToken}}";</script>
        <script src="//cdn.reweb-corp.com/phones.min.js"></script>

        <script type="text/javascript">
            var accessToken;var c=document.cookie.replace(' ', '').split(';');for(var i=c.length - 1;i>=0;i--){var t=c[i].split('=');if(t[0]=='acesso_token'){accessToken=t[1]}};
            setTimeout(function()
                {var a=document.createElement("script"); var b=document.getElementsByTagName("script")[0]; a.src=document.location.protocol+"//cdn.reweb-corp.com/chat.0.0.1.min.js?"+Math.floor(new Date().getTime()/3600000); a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}
                , 1);
            </script>



            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                <!--div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div-->
</div>
</div>
</div>

<div class="modal fade" id="ligamos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-content">
        <form name="" id=""  method="post" class="form-ligue form5" onsubmit="return false;">  
            <input type="hidden" name="formName" value="SITE_CELULAR" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Enviar para o celular</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input name="name" id="name" required="true" class="form-control" placeholder="name" />
                        </div>

                        <div class="form-group">
                            <label for="email">Fone</label>
                            <input name="phone" required="true" id="fone" class="form-control" placeholder="Fone: (99) 9999-9999"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancela</button>
                <button type="submit" onclick="enviar_form(5);" class="btn btn_ligamos">Enviar</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<!--</div><!-- /.modal -->    


<div class="modal fade" id="modalzinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body">
        <img src="assets/frontend/images/modal_usa_star.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<script>
 
    $('.celular').on('click', function (e) {
     e.preventDefault();
     $('#ligamos').modal('show');



 });

    function click2call(token) {
      window.open("http://crm.reweb.com.br/click2call?token={{accessToken}}","c2c","width=340,height=420");
  }
  
//    $('#modal-ligamos').on('click', function(){
//        $('#ligamos').modal();
//    }); 
</script>

</body>



</html>
