{% extends "layout.html" %}
{% block title %}Áreas atendidas pela USA Star{% endblock %}
{% block description %}Áreas atendidas pela USA Star{% endblock %}

{% block content %}
<section>
    <div id="myCarousel" class="carousel slide clearfix" data-ride="carousel">


        <!--   Verifica se o banner é da marca selecionada na home     -->
        {% set jeep_id = 15 %} {% set chrysler_id = 17 %} {% set dodge_id = 18 %} {% set ram_id = 19 %}
        {% set jeep_array = [] %} {% set chrysler_array = [] %} {% set dodge_array = [] %} {% set ram_array = [] %}
        {% if banners %}

            <!--     Salva os banners de acordo com a marca selecionada      -->
            {% for banner in banners.banners %}
                {% set result = banner.maker_id %}
                {% if result == jeep_id %} {% set jeep_array = jeep_array|merge([banner]) %}
                {% elseif result == chrysler_id %} {% set chrysler_array = chrysler_array|merge([banner]) %}
                {% elseif result == dodge_id %} {% set dodge_array = dodge_array|merge([banner]) %}
                {% elseif result == ram_id %} {% set ram_array = ram_array|merge([banner]) %} {% endif %}
            {% endfor %}

            <ol class="carousel-indicators">
                {% if maker == "jeep" %}
                    {% for banner in jeep_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% elseif maker == "chrysler" %}
                    {% for banner in chrysler_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% elseif maker == "ram" %}
                    {% for banner in ram_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% elseif maker == "dodge" %}
                    {% for banner in dodge_array %}
                        <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                {% endif %}
            </ol>

            <div class="carousel-inner" role="listbox">
            <!--     Verifica se o banner esta de acordo com a marca selecionada      -->
                {% if maker == "jeep" %}
                    {% for banner in jeep_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% elseif maker == "chrysler" %}
                   {% for banner in chrysler_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% elseif maker == "dodge" %}
                   {% for banner in dodge_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% elseif maker == "ram" %}
                    {% for banner in ram_array %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{rooturl}}{{banner.link|raw}}"><img src="{{ banner.image }}" alt="{{ banner.title }}" style="width:100%" /></a>
                        <div class="container">
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}




    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
       </a>
    </div>
</section>
   <section class="push-up">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8 form-banner">
                <h2>SOLICITE PREÇO ESPECIAL DE INTERNET</h2>
                <form class="form1" onsubmit="return false;">
                   <input type="hidden" class="captation" name="formCaptation" value="FORM_PRECO_ESPECIAL_HOME" />
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="NOME" name="nome" data-placeholder="Nome" data-required="true">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 left-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="E-MAIL" name="email" data-placeholder="E-mail" data-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="TELEFONE" name="phone" data-placeholder="Telefone" data-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 right-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="CIDADE" name="city" data-placeholder="Cidade" data-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                                <select name="state" id="" class="form-control" data-required="true" data-placeholder="Estado">
                                    <option value="">ESTADO</option>
                                    <option value="ac">Acre</option>
                                    <option value="al">Alagoas</option>
                                    <option value="am">Amazonas</option>
                                    <option value="ap">Amapá</option>
                                    <option value="ba">Bahia</option>
                                    <option value="ce">Ceará</option>
                                    <option value="df">Distrito Federal</option>
                                    <option value="es">Espírito Santo</option>
                                    <option value="go">Goiás</option>
                                    <option value="ma">Maranhão</option>
                                    <option value="mt">Mato Grosso</option>
                                    <option value="ms">Mato Grosso do Sul</option>
                                    <option value="mg">Minas Gerais</option>
                                    <option value="pa">Pará</option>
                                    <option value="pb">Paraíba</option>
                                    <option value="pr">Paraná</option>
                                    <option value="pe">Pernambuco</option>
                                    <option value="pi">Piauí</option>
                                    <option value="rj">Rio de Janeiro</option>
                                    <option value="rn">Rio Grande do Norte</option>
                                    <option value="ro">Rondônia</option>
                                    <option value="rs">Rio Grande do Sul</option>
                                    <option value="rr">Roraima</option>
                                    <option value="sc">Santa Catarina</option>
                                    <option value="se">Sergipe</option>
                                    <option value="sp">São Paulo</option>
                                    <option value="to">Tocantins</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="model" id="" class="form-control" data-placeholder="Modelo Desejado" data-required="true">
                            <option value="">MODELO DESEJADO</option>
                            {% for car in cars.cars %}
                                <option value="{{car.name}}">{{car.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="" placeholder="MENSAGEM" class="form-control" data-placeholder="Mensagem"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-8">
                                <label>
                                    <input type="checkbox" name="newsletter"> Desejo receber novidades por email/sms
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="ENVIAR" class="form-control" onclick="enviar_form(1);">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container white-home white-bg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center title">Regiões Atendidas</h1>
            <div class="row">
                  <div class="col-lg-12">
                    <img class="center-block" src="{{rooturl}}assets/frontend/images/banner.png" alt="Regiões Atenidas">
                  </div>
                  <div class="col-lg-12">
                    <span class="tab-desc-carros">
                       <p class="texto-internas">Conheça todas as regiões atendidas pela nossa Concessionaria no estado do Rio de Janeiro. As cidades listadas abaixo são todas as que possuímos abrangência e podemos lhe prestar serviços, vendas de veículos zero km, veículos semi novos, peças e acessórios.</p>
                    </div>
                      
                       <div class="lista-atendidas regioes_atendidas">
                           {% for city in cities %}
                           <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                               <li>
                                   {{city.name}}
                               </li>
                           </ul>
                           {% endfor %}
            
                           </span>
                    </div>
                </div>
            </div>
            <hr>
<!--
            <div class="row">
                <div class="col-lg-12">
                  {% for city in cities %}
                   <ul class="col-lg-3 col-md-3 col-sm-6 col-xs-12 regioes_atendidas">
                     <li>{{city.name}}</li>
                   </ul>
                  {% endfor %}
                </div>
            </div>
        </div>
-->
    </div>
</section>
{% endblock %}
