{% extends "layout.html" %} {% block title %}Seminovos | Usa Star{% endblock %} {% block content %}
<section class="bg-interna no-bg">
    <div class="container-fluid">
        <div class="row">
            <img src="assets/frontend/images/images/promocoes.png" alt="" class="img-full">
        </div>
    </div>
</section>
<section>
    <div class="container white-home white-bg mg-tp-100">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-lg-3">
                <div class="filters">
                    <h2>Encontre seu carro</h2>
                    <form class="search form form-default select-priceee sel-p" action="{{rooturl}}veiculos-seminovos-usados-{fake_args}-{{url_complement}}-{args}" id="formBusca" role="form">
                        <div class="form-group">
                            <label>Ano</label>
                            {% for year in filters.data.years %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="year" {% if args.year_model_min|default( '')==year.year_model %}checked="checked" {% endif %} name="year" class="year" value="{{ year.year_model }}"> {{ year.year_model }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>Fabricante</label>
                            {% for make in filters.data.brands %}
                            <div class="checkbox check-font">
                                <label>
                                    <input type="checkbox" name="maker" class="maker" value="brand+id_{{make.brand_id}}" {% if args.brand_id|default( '')==make.brand_id %}checked="checked" {% endif %}> {{ make.brand }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>Preço</label>
                            {% for price in filters.data.price %}
                            <div class="checkbox check-font">
                                <label>
                                    {% set price_min_max = price.min ~ '-' ~ price.max %}
                                    <input type="checkbox" name="price" class="price" {% if args.price|default( '-1')==price_min_max %}checked="checked" {% endif %} value="price+max_{{ price.max }}-price+min_{{ price.min}}"> R$ {{ price.min|number_format(2, ',', '.') }} - {{ price.max|number_format(2, ',', '.') }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-lg-6 no-row-gutter">
                        <h2 class="italic-title">Resultado da busca</h2>
                        <h3 class="small">(1-20 de 100 veículos encontrados)</h3>
                    </div>
                    <div class="col-lg-6 text-right">
                        <label for="ordenar" class="ordenar">Ordenar por:</label>
                        <select id="order">
                            <option value="price_max-DESC">Preço - Descrescente</option>
                            <option value="price_min-ASC">Preço - Crescente</option>
                            <option value="year+model-ASC">Ano - Crescente</option>
                            <option value="year+model-DESC">Ano - Descrescente</option>
                        </select>
                    </div>
                </div>

                {% if used_cars %} {% for car in used_cars.data %}
                <div class="used-car">
                    {% if car.file %}
                    <a href="{{car|used_url}}" class="used-car-img">
                        <img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" alt="" class="img-responsive">
                    </a>
                    {% else %}
                    <a href="{{car|used_url}}" class="used-car-img">
                        <img src="http://dummyimage.com/252x158/ababab/000000&text=sem+imagem" alt="" class="img-responsive">
                    </a>
                    {% endif %}
                    <div class="used-car-info">
                        <h3>{{car.title}}</h3>
                        <span class="pull-right price">R$ {{car.price}}</span>
                        <p class="info1">{{car.fuel}} {{car.door}}P {{car.year_model}} {{car.transmission}}</p>
                        <p class="info2">{{ car.attr_list }}</p>
                        <div class="foot-bar">
                            <div class="btn-group" role="group" aria-label="Justified button group">
                                <a href="{{car|used_url}}" class="btn btn-saiba-mais" role="button">Saiba Mais</a>
                                <a href="#enviar-celular-{{car.id}}" class="btn btn-celular" role="button">Envie Para o Celular</a>
                                <a href="#solicitar-preco-{{car.id}}" class="btn btn-preco-especial" role="button">Solicitar Preço Especial</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="enviar-celular-{{car.id}}" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <form name="" id="" action="send-to-mobile" method="post" class="form-ligue">  
                               <input type="hidden" name="carro" value="{{car|used_url}}" >
                               <input type="hidden" name="brand" value="{{car.brand}}" >
                               <input type="hidden" name="model" value="{{car.title}}" >
                               <input type="hidden" name="price" value="{{car.price}}" >

                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="gridSystemModalLabel">Enviar este carro para o celular</h4>
                          </div>
                          <div class="modal-body">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="form-group">
                                          <label for="name">Nome</label>
                                          <input name="name" id="name" required="true" class="form-control" placeholder="name" />
                                      </div>

                                      <div class="form-group">
                                          <label for="email">Fone</label>
                                          <input name="phone" required="true" id="fone" class="form-control" placeholder="Fone: (99) 9999-9999"/>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancela</button>
                              <button type="submit" class="btn btn_ligamos">Enviar</button>
                          </div>
                          </form>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->


              <div id="solicitar-preco-{{car.id}}" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <form name="" id="" action="register_lead" method="post" class="form-ligue">  
                               <input type="hidden" name="formName" value="SOLICITAR_PRECO_ESPECIAL" >
                               <input type="hidden" name="carro" value="{{car|used_url}}" >
                               <input type="hidden" name="unidade" value="Maracanã - Usados" />

                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="gridSystemModalLabel">Solicitar preço especial</h4>
                          </div>
                          <div class="modal-body">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="form-group">
                                          <label for="name">Nome</label>
                                          <input name="name" id="name" required="true" class="form-control" placeholder="Nome" />
                                      </div>
                                      <div class="form-group">
                                          <label for="email">E-mail</label>
                                          <input name="email" required="true" class="form-control" placeholder="E-mail"/>
                                      </div>
                                      <div class="form-group">
                                          <label for="email">Telefone</label>
                                          <input name="phone" required="true" id="fone" class="form-control" placeholder="Fone: (99) 9999-9999"/>
                                      </div>
                                      <div class="form-group">
                                          <label for="email">Mensagem:</label>
                                          <textarea name="message" placeholder="Mensagem" class="form-control" required="true"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancela</button>
                              <button type="submit" class="btn btn_ligamos">Enviar</button>
                          </div>
                          </form>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
                {% endfor %} {% else %}
                <h3>Nenhum veículo encontrado</h3> {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}