{% extends "layout.html" %} {% block title %}Seminovo/Usado {{ car.data.brand }} {{ car.data.brand_model_version }} {{ car.data.year_build }}/{{ car.data.year_model }} em Porto Alegre, RS{% endblock %} {% block search %}{% include 'search.html' %}{% endblock %} {% block content %}
<section class="bg-interna no-bg">
    <div class="container-fluid">
        <div class="row">
            <img src="assets/frontend/images/images/promocoes.png" alt="" class="img-full">
        </div>
    </div>
</section>
<section>
    <div class="container white-home white-bg mg-tp-100">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <section class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 car-detail">
                        <div class="container-slider col-xs-6">
                            <!-- begin gallery used -->
                            <div id="slider" class="flexslider">
                                <ul class="slides">
                                    {% for image in car.data.gallery %}
                                    <li>
                                        <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" alt="{{car.data.brand}} - {{car.data.title}}" style="width:377px" />
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <!-- end gallery used -->
                            <!-- begin carousel gallery used -->
                            <div id="carousel" class="flexslider">
                                <ul class="slides">
                                    {% for image in car.data.gallery %}
                                    <li>
                                        <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" alt="{{car.data.brand}} - {{car.data.title}}" style="width:78px" />
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <!-- end carousel gallery used -->

                        </div>
                        <div class="col-xs-6">

                            <h1>{{ car.data.title }}</h1>

                            <div class="price-box">
                                <ul>
                                    <!--<li class="old">Preço de Varejo: <span class="pull-right strike">R$ {{car.data.oldPrice}}</span></li>-->
                                    <li class="new">Preço Especial: <span class="pull-right">R$ {{car.data.price}}</span></li>
                                </ul>
                            </div>

                            <ul id="detail">
                                <!-- <li class="preco">Economia: <span class="pull-right">R$ {{car.data.savedPrice}}</span></li> -->
                                <li class="ano">Ano: <span class="pull-right">{% if car.data.year_build == car.data.year_model%} {{ car.data.year_build }} {% else %}{{ car.data.year_build }}/{{ car.data.year_model }}{% endif %}</span></li>
                                <li class="km">Quilometragem: <span class="pull-right">{{car.data.odometer}}</li>
                                <li class="cambio">Transmissão: <span class="pull-right">{{car.data.transmission}}</li>
                                <li class="combustivel">Combustível: <span class="pull-right">{{car.data.fuel}}</li>
                            </ul>
                            <div class="used-buttons pull-right">
                                <a href="#enviar-celular" class="btn btn-celular" role="button">Enviar Para o Celular</a>
                                <a href="#solicitar-preco" class="btn btn-preco-especial" role="button">Solicitar Desconto</a>
                            </div>
                            
                    </div>

                </div>
                <div class="col-xs-12 tab-detalhe">

                   <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs details-nav" role="tablist">
                            <li role="presentation"  class="active"><a href="#especificacoes" aria-controls="especificacoes" role="tab" data-toggle="tab">ESPECIFICAÇÕES</a></li>
                            <!-- <li role="presentation"><a href="#caracteristicas" aria-controls="caracteristicas" role="tab" data-toggle="tab">Acessórios</a></li> -->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                            <div role="tabpanel" class="tab-pane active" id="especificacoes">

                                <p>{{car.data.description}}</p>

                            </div>
                            
                            <div role="tabpanel" class="tab-pane fade" id="caracteristicas">

                                <ul>
                                    {% if car.data.options %}
                                        {% for options in car.data.options %}
                                            <li>{{options.title}}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>

                            </div>
                        </div>

                    </div>

                </div>
              
            </div>    

        </section>
        </div>
    </div>
    <div id="enviar-celular" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <form name="" id="" action="send-to-mobile" method="post" class="form-ligue">  
                               <input type="hidden" name="carro" value="{{car.data|used_url}}" >
                               <input type="hidden" name="brand" value="{{car.data.brand}}" >
                               <input type="hidden" name="model" value="{{car.data.title}}" >
                               <input type="hidden" name="price" value="{{car.data.price}}" >

                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="gridSystemModalLabel">Enviar este carro para o celular</h4>
                          </div>
                          <div class="modal-body">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="form-group">
                                          <label for="name">Nome</label>
                                          <input name="name" id="name" required="true" class="form-control" placeholder="name" />
                                      </div>

                                      <div class="form-group">
                                          <label for="email">Fone</label>
                                          <input name="phone" required="true" id="fone" class="form-control" placeholder="Fone: (99) 9999-9999"/>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancela</button>
                              <button type="submit" class="btn btn_ligamos">Enviar</button>
                          </div>
                          </form>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->


              <div id="solicitar-preco" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <form name="" id="" action="register_lead" method="post" class="form-ligue">  
                               <input type="hidden" name="formName" value="SOLICITAR_PRECO_ESPECIAL" >
                               <input type="hidden" name="carro" value="{{car.data|used_url}}" >
                               <input type="hidden" name="unidade" value="{{car.data.store.name}}" />

                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="gridSystemModalLabel">Solicitar preço especial</h4>
                          </div>
                          <div class="modal-body">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="form-group">
                                          <label for="name">Nome</label>
                                          <input name="name" id="name" required="true" class="form-control" placeholder="Nome" />
                                      </div>
                                      <div class="form-group">
                                          <label for="email">E-mail</label>
                                          <input name="email" required="true" class="form-control" placeholder="E-mail"/>
                                      </div>
                                      <div class="form-group">
                                          <label for="email">Telefone</label>
                                          <input name="phone" required="true" id="fone" class="form-control" placeholder="Fone: (99) 9999-9999"/>
                                      </div>
                                      <div class="form-group">
                                          <label for="email">Mensagem:</label>
                                          <textarea name="message" placeholder="Mensagem" class="form-control" required="true"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancela</button>
                              <button type="submit" class="btn btn_ligamos">Enviar</button>
                          </div>
                          </form>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
</section>
{% endblock %}